* {
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif ;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.nav-img {
    height: 120px;
    width: 120px;
    margin-left: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.listitem {
    display: inline-block;
    margin: 10px 20px;
}

.list {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.list:hover {
    color: red;
}

.secondname {
    color: rgb(49, 107, 241);
}

.tittle {
    margin-top: 13%;
    margin-left: 20%;
}

.title-h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.download {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 30px 60px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
}

.images {
    position: absolute;
    width: 45%;
    height: 80%;
    bottom: 0px;
    right: 30px;

}

.images img {
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;

}

.images:hover #shape {
    bottom: 20%;
}

.images:hover #girl {
    left: 40%;
}

#about {
    margin: 15% 8% 0px 8%;

}

.about-heading {
    text-align: center;

}

.aboutt {
    font-size: 32px;
    font-weight: 400;
}

.indro {
    font-size: 20px;
    color: yellowgreen;
    font-weight: 400;
}

.about-img img {
    width: 55%;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 10px;

}

.about-details {
    font-size: 18px;
    text-align: justify;
}

.information {
    margin-top: 20px;
}

.each-info {
    margin-top: 15px;
}

.infospan {
    margin-left: 15px;
}

.skill-heading {
    text-align: center;
}

.about2 {
    font-weight: bolder;
    font-size: 30px;
}

#skills {
    margin: 30% 8% 0px 8%;

}

.myskil {
    font-style: italic;
    color: rgb(20, 20, 255);
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 10px;

}

.progress-bar {
    margin-left: 70px;
    padding-left: 40px;
}

.bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    margin-bottom: 1rem;
    position: relative;
    margin-top: 40px;
}

.base-bar {
    width: 100%;
    height: 7px;
    background-color: black;
    position: absolute;
    border-radius: 5px;
    bottom: 0px;

}
.orange-bar{
    background-color: orange;
    width: 95%;
    height: 7px;
    position: absolute;
    border-radius: 5px;
    bottom: 0px;

}
.contact-headding{
    text-align: center;
    margin-top: 50px;
}

.icon-set{
    display:flex;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
}
.each-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.each-icon i{
    font-size: 30px;
    color: black;
}
/* .icon-style{
    font-size: 30px;
    margin-left: 20px;
} */
.bottom-footer{
    text-align: center;
    margin-top: 20px;
    

}
.each-icon:hover{
    background-image: linear-gradient(to bottom right ,yellow,red);
}
.each-icon:hover i{
    color: white;
    animation: shake 0.78s;

}
@keyframes shake {
    10%{
        transform: rotate(10deg);
    }
    20%{
        transform: rotate(-10deg);

    }
}
.upparrow{
    float: right;
    background-image: linear-gradient(to bottom right ,yellow,red);
    margin: 0px 10px 50px 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upparrow:hover{
    animation: shake 0.75s;
}